################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/generated_data/en/jsonresume.json
/generated_data/no/jsonresume.json
